<div>
  <h3>Players List:</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>PositionId</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let player of players">
          <td>{{player.pid}}</td>
          <td>{{player.pname}}</td>
          <td>{{player.cost}}</td>
          <td>{{player.positionId}}</td>
          <td>  <app-player [player] = player (deleteEvent) = "deletePlayer($event)"></app-player>  </td>
          </tr>
      </tbody>
    </table>



  </div>
  <div>
  <h3>Players List:</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>PositionId</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let player of players">
          <td>{{player.pid}}</td>
          <td>{{player.pname}}</td>
          <td>{{player.cost}}</td>
           
         <td *ngFor = "let players of player.positionName">
            {{(players | async)?.cname}}
          </td>
         
          <td>  <app-player [player] = player (deleteEvent) = "deletePlayer($event)"></app-player>  </td>
          </tr>
      </tbody>
    </table>



  </div>