<app-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></app-invoice-form>
<div>
  <h3>Invoices list:</h3>
  <app-spinner [visible] = "isLoading"></app-spinner>
  <ul class="list-group invoices">
        <li class="list-group-item" *ngFor = "let invoice of invoices" >
            
             <app-invoice [invoice]="invoice" (deleteEvent) = "deleteInvoice($event)" (editEvent) = "updateInvoice($event)"></app-invoice>          
        </li>
  </ul>
</div>