 <app-movie-form (movieAddedEvent) = "addMovie($event)"></app-movie-form>
 <div>
   <ul class="list-group movies">
     <li *ngFor = "let movie of movies">
       <app-movie [movie] = "movie" (deleteEvent) = "deleteMovie($event)" (editEvent) = "updateMovie($event)"></app-movie>
     </li>
   </ul>
 </div>