<div>
  <h3>Products List withoyt join:</h3>
      <table class="table table-striped">
         <thead>
           <tr>
             <th>Pid</th>
             <th>Pname</th>
             <th>Cost</th>
             <th>CategoryId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let product of products">
              <td>{{product.pid}}</td>
              <td>{{product.pname}}</td>
              <td>{{product.cost}}</td>
              <td>{{product.categoryId}}</td>
             <td> <app-product [product] = product (deleteEvent) = "deleteProduct($event)"></app-product> </td>
              </tr>

            </tbody>
        </table>
      
        
  
<div>
  <h3>Products list:</h3>
   <table border="1">
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>CategoryId</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
          <td *ngFor = "let products of product.categoryName">
            {{(products | async)?.cname}}
          </td>
            
          <!-- <td *ngFor = "let name of product.categoryNames">
            {{(name | async)?.cname}} </td> -->
            <app-product [product]= "product" (deleteEvent)="deleteProduct($event)"></app-product>           
     </tr>
  </table>
</div>