<div>
   <hr>
   <app-post-form (postAddedEvent) = "addPost($event)"></app-post-form>
   <h4>Post list</h4>
   <app-spinner [visible] = "isLoading"></app-spinner>
   <ul class="list-group posts"> 
    <li *ngFor="let post of posts"  
    [class.active]="currentPost == post"
    (click)="select(post)" 
    class="list-group-item">
      <app-post [post] = post (deleteEvent) = "deletePost($event)" (editEvent) = "editPost($event)"></app-post> 

      <ul>
      <li *ngFor="let email of post.userNames">
        {{(email | async)?.email}}
      </li>
    </ul>
      
         
     </li>
   </ul>
   <hr>
 </div>