<h2>Add Movie</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Movie Name</label>
    <input type="text"
            class="form-control"
            id="movie"
            name = "movie"
            required
            [(ngModel)] = "movie.name">
  </div>
  <div class="form-group">
    <label for="rate">Rating Movie</label>
    <input type="text"
            class="form-control"
            id="rate"
            name = "rate" 
            required
            [(ngModel)] = "movie.rate">
            
                
  </div>

    <div class="form-group">
    <label for="janer">Janer Movie</label>
    <input type="text"
            class="form-control"
            id="janer"
            name = "janer" 
            required
            [(ngModel)] = "movie.janer">
            
                
  </div>

  <!--<label for="janer">Janer Movie</label><br>
   <select name="janer" size="3">
  <option value="comedy">comedy</option>
  <option value="drama">drama</option>
  <option value="action">action</option>
  <option value="film noir">film</option>
</select>-->
  

  <button type="submit" class="btn btn-primary" >Save Movie</button>
</form>