Movie Name: {{movie.name}}, Rate: {{movie.rate}} , Janer movie: {{movie.janer}}
<span *ngIf = "!isEdit" >Name: {{movie.name}}, Rate movie: {{movie.rate}}, Janer: {{movie.janer}}  </span>
<span *ngIf = "isEdit" >Name: <input type="text" [(ngModel)] = "movie.name"> Rate movie: <input type="text" [(ngModel)] = "movie.rate">Janer movie: <input type="text" [(ngModel)] = "movie.janer"> </span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 